
.masonry .blog-lists{
	position: relative;
	height: 1609.38px;
}
.masonry .slick-item{
	width: 33.33% !important;
    padding: 0 15px;
    border: 0;
    margin: 0;
    clear: both;
    position: absolute;
}
.masonry .slick-item .photo img{
	width: 100%;
}
.masonry .slick-item .item-info{
	padding: 0;
    overflow: visible;
}
.masonry .item-info .category-blog{
	margin: 13px 0 3px;
}

