
.ch-checkout-page{
		margin: 0 auto;
	}
/*内容*/
.ch-con{
	margin-top: 40px;	
	cursor: pointer;
	
}

.ch-con .ch-cont,
.ch-con .ch-total-price{
	height: 160px;
	border: 1px solid #e2e2e2;
	
}
/*商品图片*/
.ch-cont .ch-list .ch-img{
	width: 160px;
	height: 160px;
	padding: 30px;
}
.ch-cont .ch-list li{
	float: left;
}
/*文字介绍*/
.ch-lists .ch-text {
	width:408.8px ;
	height: 109px;
	/*border: 1px solid red;*/
	
}
/*.ch-lists .ch-text div{
	height: 48px;
	border: 1px solid red;
	margin-top: 20px;
}*/
/*.ch-lists .ch-text div p
{
	height: 24px;
	border: 1px solid cyan;
	margin-top: -8px;
}*/
/*数量按钮*/
.btn-add{
	width: 265px;
	height: 100px;
	margin-top: 20px;
	
	/*border: 1px solid red;*/
}
/*商品价格*/
.ch-dollars{
	width: 233.88px;
	height: 81px;
	/*border: 1px solid red;*/
	
}
/*删除键*/
.ch-delet div{
	
	margin-left: 30px;
}


/*总价*/
.ch-total-price{
	padding: 50px 60px 50px 30px;
}
.ch-total-price .ch-total-price-ul{
	height: 42px;
	/*border: 1px solid red;*/
	position: relative;
	line-height: 30px;
}
/*总价左边*/
.ch-total-price-ul .float-fl{
	width: 393px;
	height: 100%;
	/*border: 1px solid cyan;*/
	
	
}
.ch-total-price-ul .float-fl .ch-total-left{
	font-weight: 600;
}
.ch-total-price-ul .float-fl .ch-total-right{
	height: 42px;
	border-radius: 42px;
	width: 265px;
	padding: 7px 20px;
}
.ch-total-price-ul .float-fl .ch-next{
	font-size: 0;
    padding: 0;
    line-height: 60px;
    color: #aaaaaa;
    position: absolute;
    top: 0;
    left: 350px;
    cursor: pointer;

}
.ch-total-price-ul .float-fl .ch-next img{
	height: 16px;
	width: 16px;
}
/*总价右边*/

.ch-total-price-ul  .float-rt{
	width: 125px;
	height: 100%;
	/*border: 1px solid red;*/
}
/*.ch-total-price-ul  .float-rt .font-20{
	position: relative;
    left: 85px;
    top: -33px;
}*/
/*底部标题*/

.ch-footer-title .float-rt{
	height: 44px;
	/*border: 1px solid red;*/
}
.ch-footer-title .float-rt .float-fl{
	display: inline-block;
	height: 100%;
	width: 171px;
	border: 1px solid #e2e2e2;
	text-align: center;
	line-height: 44px;
	border-radius:40px ;
	margin-right: 50px;
}
.ch-footer-title .float-rt .float-rt{
	display: inline-block;
	height: 100%;
	width: 109px;
	border: 1px solid #e2e2e2;
	text-align: center;
	line-height: 44px;
	border-radius:40px ;
}
.ch-con .ch-footer-title .float-rt .float-rt:hover{
	color: #FFFFFF;
	background: #85B839;
}
.ch-con .ch-footer-title .float-rt .float-fl:hover{
	color: #FFFFFF;
	background: #85B839;
}
