<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,inital-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="shortcut icon" href="img/favicon.png" />
		<link rel="stylesheet" type="text/css" href="css/d-public.css"/>
		<link rel="stylesheet" type="text/css" href="js/bootstrap-3.3.7-dist/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/Blogs-Comment.css"/>
		<link rel="stylesheet" type="text/css" href="font/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="css/Blogs-Sidebar.css"/>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" href="css/public-page.css" />
	</head>
	<body>
		<!--项目顶部-->
		<div class="d-header ">
			<!--最顶端-->
			<div class="d-header-top b-color-g">
				<div class="d-content content-box f-14">
					<div class="d-welcome  fl-l">
						Welcome to our online store
					</div>
					<div class="login-or-register fl-r mar-l-10">
						Login or Register 
					</div>
					<div  class="d-language fl-r ">
						<div v-on:click="languagetype">
							<span  class="mar-r-6">{{activeLanguage}}</span><span class="glyphicon glyphicon-menu-down f-12"></span> <span>丨</span>
						</div>
						<div class="languageType-box">
							<div v-on:click="languageselect" class="languageType"v-for="item in languageType">{{item}}</div>
						</div>
					</div>
				</div>
			</div>
			<!--小框时的主菜单-->
			<div v-on:click.stop=" " class="d-left-main-menu">
				<div class="d-main-menu-title d-mian-menu-content">
					  <span v-on:click="closemenu" class="d-main-menu-close">x</span> <span v-for="title in menudata.title">{{title}}</span> <span v-on:click="returnmenu" v-show="menudata.title != 'MAIN MENU' " class="d-main-menu-return glyphicon glyphicon-menu-left"></span>
				</div>
				<div v-for="content in menudata.content" class="d-mian-menu-content" v-bind:title="content">
					<span class="">{{content}} </span> 
					<span v-show="['ACCESSORIES','HOME','SHOP','PAGES','BLOGS','BLOG STYLE','POST LAYOUT'].indexOf(content) >= 0 "  
						class="d-right-trangle glyphicon glyphicon-menu-right"
						v-on:click="clicktrangle"></span>
				</div>
			</div>
			<!--标志和搜索框和购物车和登录注册-->
			<div class="d-header-center">
				<div class="d-content">
					<div class="d-header-center-main">
						<!--logo-->
						<img class="d-vereesa-logo" src="img/logo.png"/>
						<!--搜索框-->
						<div class="d-search-box ">
							<div class="d-goods-dropdown">
								<div class="d-activegoodstype"v-on:click.stop="controldrop">
									{{activegoodstype}} <span class="glyphicon glyphicon-menu-down f-12 mar-l-10"></span>
								</div>
								<ul class="d-goodstypes">
									<li v-on:click="selectedgoodstype" class="d-goodstype" v-for="goodstype in goodstype">{{goodstype}}</li>
								</ul>
							</div>
							<div class="d-input-box">
								<input class="" type="text" name="" id="" placeholder="Search here" />
							</div>
							<div class="d-search-logo">
								<img src="img/search-header-2.png"></img>
							</div>
						</div>
						<!--右侧的购物车和登录注册-->
						<div class="d-shopcar-logon-register">
							<!--购物车-->
							<span v-on:click.stop="controlshopcar" class="d-shopcar glyphicon glyphicon-shopping-cart f-28">
								<div class="d-shopcar-box">
									<div class="reminder">
										You have <span class="d-shopcar-count">0 ITEM(S)</span> in your bag
									</div>
								</div>
							</span>
							<span class="d-shopcargoods">0</span>
							<!--登录和注册-->
							<span v-on:click.stop="controllogin" class="d-logon-register glyphicon glyphicon-user f-28">
							</span>
							<!--登录注册弹出框-->
							<div v-on:click.stop="" class="d-login-and-register">
								<div class="d-form-title"> 
									<span v-on:click="login" class="login active">Login</span> <span v-on:click="register" class="register">Register</span>
								</div>
								<div class="d-form-body">
									<div class="d-email d-input-box">
										<input class="d-input" type="email" placeholder="Email"/>
									</div>
									<div class="d-password d-input-box">
										<input class="d-input" type="password" placeholder="Password"/>
									</div>
									<input class="d-readme" type="checkbox"/><span class="readme">Read me</span>
									<div class="d-public-btn d-login-btn">
										<span>LOGIN</span>
									</div>
									<span class="d-lostpassword">Lost your password?</span>
								</div>
							</div>
							<!--最小屏的时候展现的内容-->
							<div class="d-768-hide-btn">
								<!--搜索部分-->
								<span v-on:click="controlsearchdrop" class="d-little-search glyphicon glyphicon-search"></span>
								<!--语言选择部分-->
								<span v-on:click="controllanguagedrop" class="d-little-language glyphicon glyphicon-cog"></span>
								
							</div>
							<div v-on:click.stop="controlMainMenu" class="d-1200-hide-navbtn">
								<span class="glyphicon glyphicon-menu-hamburger f-18"></span>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="d-search-drop d-little-drop">
				<span class="d-little-drop-close">x</span>
				<div class="d-little-search-box">
					<input class="d-search-input" type="text" name="" id="" placeholder="Enter Key Words to search..."/>
					<a href="">
						<div class="d-submit">
							SEARCH
						</div>	
					</a>
				</div>
			</div>
			<div class="d-language-drop d-little-drop">
				<span class="d-little-drop-close">x</span>
				<h5 class="mar-l-10 d-language-title">Currency</h5>
				<p class="d-language-lists">
					<span class="d-language-list">English(USD)</span> <span class="d-language-list">French(EUR)</span> <span class="d-language-list">Japanese(JPY)</span>
				</p>
			</div>
			<!--导航条-->
			<div class="d-nav">
				<div v-on:mouseleave="leavenav" class="d-content">
					<div class="d-block-title">
						<div v-on:click="controlGoodsClassDrop" class="d-block-click">
							<span class="d-block-title-logo glyphicon glyphicon-align-left"></span>
							<span class="d-block-title-text">ALL DEPARTMENTS</span>	
						</div>
						<div class="d-goods-class">
							<a class="d-goods-classify" v-for="item in goodsclass" href="" v-bind:title="item">
								{{item}} <span v-if="item == 'Accessories'" class="d-right-trangle glyphicon glyphicon-menu-right"></span>
							</a>
						</div>
					</div>
					
					<div class="d-nav-title-lists">
						<div v-on:mouseenter="controldrop" v-for="navtitle in navdata.title" class="d-nav-title-list">
						 <span v-bind:title="navtitle">{{navtitle}}</span> <span v-if="navtitle != 'ABOUT'" class="d-drop-logo f-12">﹀</span>
						</div>
					</div>
					<!--home部分下拉框-->
					<div class="d-drop-menu d-home-part">
						<ul class="d-nav-ul">
							<li class="d-nav-li navhome" v-for="homelist in navdata.home">{{homelist}}</li>
						</ul>
					</div>
					<!--商城部分下拉框-->
					<div class="d-drop-menu d-shop-part">
						<ul class="d-nav-ul">
							<li class="d-nav-li navshop" v-for="shoplist in navdata.shop" >{{shoplist}}</li>
						</ul>
					</div>
					<!--pages部分下拉框-->
					<div class="d-drop-menu d-pages-part">
						<div class="d-nav-ul">
							<div class="d-pages-content">
								<div class="d-left-box">
									<div class="d-title">Shop Pages</div>
									<div class="d-green-line">
										
									</div>
									<ul class="d-pages-ul">
										<li class="d-pages-li" v-for="pages in navdata.pages.shoppages">{{pages}}</li>
									</ul>
								</div>
								<div class="d-center-box">
									<div class="d-title">Product</div>
									<div class="d-green-line">
										
									</div>
									<ul class="d-pages-ul">
										<li class="d-pages-li" v-for="products in navdata.pages.product">{{products}}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!--blogs下拉框控制-->
					<div class="d-drop-menu d-blogs-part">
						<div class="d-nav-ul">
							<div class="d-nav-li d-blogs-li">Blog Style  <span class="fl-r f-14"> ＞</span>
								<div class="d-nav-ul-ul">
									<div class=" d-nav-li-li "v-for="blogstyle in navdata.blogs.blogstyle">
										{{blogstyle}}
									</div> 	
								</div>
							</div>
							<div class="d-nav-li d-blogs-li">Post Layout <span class="fl-r f-14"> ＞</span>
								<div class="d-nav-ul-ul">
									<div class="d-nav-li-li "v-for="postlayout in navdata.blogs.postlayout">
										{{postlayout}}
									</div> 	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--中间内容-->
		<div class="container sidebar-cont">
			<!--顶部ul-->
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li>
						<a>Home</a> <span class="f-12">》</span>
					</li>
					<li>
						<a>Our blog</a> <span class="f-12">》</span>
					</li>
					<li>
						New Designer Outdoor Furniture 
					</li>
				</ul>
			</div>
			<!--/顶部ul-->
			<!--左侧内容-->
			<div class="content-area  col-lg-9 col-md-8 col-sm-12 col-xs-12">
				<!--图片-->
				<div class="blog text-over-hidden-1">
					<a href="#"><img src="img/blog1.jpg"/></a>
				</div>
				<!--图片下文字部分-->
				<div class="infor">
					<!--/*图片下的小标题文字*/-->
					<div class="category-blog f-12">
						<a href="#" class="text-a fontwight-700">LIFE STYLE</a>
					</div>
					<!--/*图片下的大标题文字*/-->
					<h3 class="infor-title">
						<a href="#"class="fontwight-600 text-a">New Designer Outdoor Furniture</a>
					</h3>
					<!--文字内容-->
					<div class="infor-main">
						<p>
							Duis quis porta enim. 
							Nunc molestie porta elit, sit amet mattis lectus mollis et.
							Phasellus condimentum nulla a arcu lacinia, a 
							venenatis ex congue. Mauris nec ante magna. 
							Duis lacus massa, consequat at mollis gravida, ornare vel mi. 
							Nam dignissim sagittis quam nec consequat. 
							Maecenas vel nulla eleifend, euismod magna sed, tristique velit. 
							Nam sed eleifend dui, eu eleifend leo.
						</p>
						<p>
							Mauris ornare eros quis placerat mollis. 
							Duis ornare euismod risus at dictum. 
							Proin at porttitor metus. Nunc luctus nisl suscipit,
							hendrerit ligula non, mattis dolor. 
							In sit amet enim in odio viverra maximus luctus vitae orci. 
							Nunc faucibus ipsum vel massa
							venenatis pretium. Suspendisse volutpat ac nisi at commodo. 
						</p>
						<blockquote>
							<p>
								Maecenas vel nulla eleifend, euismod magna sed, tristique velit.
								Nam sed eleifend dui, eu eleifend leo. 
								Mauris ornare eros quis placerat mollis.
								Duis ornare euismod risus at dictum. 
								Proin at porttitor metus. 
								Nunc luctus nisl suscipit, hendrerit ligula non, mattis dolor.
							</p>
							<div class="author">
								<span class="name">Koan Conella</span>
								<span class="desc">Creative Copywriter</span>
							</div>
						</blockquote>
					</div>
					<!--articles轮播-->
					<div class="articles">
						<!--标题-->
						<h3 class="articles-title">Related Articles</h3>
						<!--轮播-->
						<div class="slick-list">
							<div class="slick-track" style="opacity: 1; width: 10000px;position: absolute;
								left: -600px;">
								<div class="slick-item">
									<div class="photo fl-l">
										<a href="#"><img src="img/blog3.jpg"/></a>
									</div>
									<div class="item-info">
										<!--/*图片下的小标题文字*/-->
										<div class="category-blog f-12">
											<a href="#" class="text-a fontwight-700">LIFE STYLE</a>
										</div>
										<!--/*图片下的大标题文字*/-->
										<h3 class="infor-title item-title">
											<a href="#"class="fontwight-600 text-a">New Designer Outdoor Furniture <span style="color: #aaa;">[...]</span></a>
										</h3>
										<div class="main-item-text">
											<p>
												Phasellus condimentum nulla a arcu lacinia, a venenatis ex congue.
												Mauris nec ante magna.
											</p>
										</div>
										<div class="item-view">
											<div class="view fl-l">
												<div class="avt fl-l">
													<img src="img/avt-blog1.png"/>
												</div>
												<h3 class="name">Adam Smith</h3>
											</div>
										</div>
									</div>
								</div>
								
								<div class="slick-item">
									<div class="photo fl-l">
										<a href="#"><img src="img/blog2.jpg"/></a>
									</div>
									<div class="item-info">
										<!--/*图片下的小标题文字*/-->
										<div class="category-blog f-12">
											<a href="#" class="text-a fontwight-700">LIFE STYLE</a>
										</div>
										<!--/*图片下的大标题文字*/-->
										<h3 class="infor-title item-title">
											<a href="#"class="fontwight-600 text-a">New Designer Outdoor Furniture <span style="color: #aaa;">[...]</span></a>
										</h3>
										<div class="main-item-text">
											<p>
												Phasellus condimentum nulla a arcu lacinia, a venenatis ex congue.
												Mauris nec ante magna.
											</p>
										</div>
										<div class="item-view">
											<div class="view fl-l">
												<div class="avt fl-l">
													<img src="img/avt-blog1.png"/>
												</div>
												<h3 class="name">Adam Smith</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="slick-item">
									<div class="photo fl-l">
										<a href="#"><img src="img/blog3.jpg"/></a>
									</div>
									<div class="item-info">
										<!--/*图片下的小标题文字*/-->
										<div class="category-blog f-12">
											<a href="#" class="text-a fontwight-700">LIFE STYLE</a>
										</div>
										<!--/*图片下的大标题文字*/-->
										<h3 class="infor-title item-title">
											<a href="#"class="fontwight-600 text-a">New Designer Outdoor Furniture <span style="color: #aaa;">[...]</span></a>
										</h3>
										<div class="main-item-text">
											<p>
												Phasellus condimentum nulla a arcu lacinia, a venenatis ex congue.
												Mauris nec ante magna.
											</p>
										</div>
										<div class="item-view">
											<div class="view fl-l">
												<div class="avt fl-l">
													<img src="img/avt-blog1.png"/>
												</div>
												<h3 class="name">Adam Smith</h3>
											</div>
										</div>
									</div>
								</div>
								
								<div class="slick-item">
									<div class="photo fl-l">
										<a href="#"><img src="img/blog2.jpg"/></a>
									</div>
									<div class="item-info">
										<!--/*图片下的小标题文字*/-->
										<div class="category-blog f-12">
											<a href="#" class="text-a fontwight-700">LIFE STYLE</a>
										</div>
										<!--/*图片下的大标题文字*/-->
										<h3 class="infor-title item-title">
											<a href="#"class="fontwight-600 text-a">New Designer Outdoor Furniture <span style="color: #aaa;">[...]</span></a>
										</h3>
										<div class="main-item-text">
											<p>
												Phasellus condimentum nulla a arcu lacinia, a venenatis ex congue.
												Mauris nec ante magna.
											</p>
										</div>
										<div class="item-view">
											<div class="view fl-l">
												<div class="avt fl-l">
													<img src="img/avt-blog1.png"/>
												</div>
												<h3 class="name">Adam Smith</h3>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<!--按钮-->
						<!--左按钮-->
						<span class="an an-left glyphicon glyphicon-chevron-left"></span>
						<!--右按钮-->
						<span class="an an-right glyphicon glyphicon-chevron-right"></span>
					</div>
					<!--轮播下的文字-->
					<div class="main-item-text info-text">
						<p>
							Nam sed eleifend dui, eu eleifend leo.Mauris ornare eros quis placerat mollis. Duis ornare euismod risus at dictum. Proin at porttitor metus. Nunc luctus nisl suscipit, hendrerit ligula non, mattis dolor. In sit amet enim in odio viverra maximus luctus vitae orci. Nunc faucibus ipsum vel massa venenatis pretium. Suspendisse volutpat ac nisi at commodo. 
						</p>
						<p>
							Mauris tempor eros vel velit condimentum venenatis. Aliquam ut viverra sapien. Sed condimentum semper faucibus. Maecenas feugiat purus eget interdum sagittis. Ut pellentesque gravida justo non rhoncus. Nunc ullamcorper tortor id aliquet luctus. Proin varius aliquam consequat. Curabitur a commodo diam, vitae pellentesque urna. Fusce posuere turpis arcu, fringilla varius nunc dictum in. Praesent pulvinar sit amet nulla nec elementum.
						</p>
					</div>
					<!--tags导航按钮-->
					<div class="tags tags-blog">
						<h3 class="widgettitle">Tags:</h3>
						<ul class="tags-lists">
							<li class="tags-link"><a href="#">Fashion</a></li>
							<li class="tags-link"><a href="#">Chairs</a></li>
							<li class="tags-link"><a href="#">Hat</a></li>
							<li class="tags-link active"><a href="#">Accessories</a></li>
							<li class="tags-link"><a href="#">Hot</a></li>
							<li class="tags-link"><a href="#">Lamp</a></li>
							<li class="tags-link"><a href="#">Lighting</a></li>
						</ul>
					</div>
					<!--share用户-->
					<div class="view-share">
						<div class="item-view">
							<div class="view fl-l">
								<div class="avt fl-l">
									<img src="img/avt-blog1.png"/>
								</div>
								<h3 class="name">Adam Smith</h3>
							</div>
						</div>
						<div class="share fl-r">
							<h3 class="title">share</h3>
							<i class="iconfont icon-facebook-square"></i>
							<i class="iconfont icon-fa-linkedin"></i>
							<i class="iconfont icon-fa-twitter"></i>
						</div>
					</div>
					<!--comments部分-->
					<div class="comments-area">
						<h3 class="articles-title">Comments <span class="count">(2)</span></h3>
						<form class="comment-form">
							<p class="comment-content">
								<textarea class="input-form focus" rows="6"  placeholder="Write your comment"></textarea>
							</p>
							<p class="form-submit">
								<span class="fl-r" style="display: block;">
									<i class="iconfont icon-fa-file-image-o"></i>
									<i class="iconfont icon-fa-paperclip"></i>
									<i class="iconfont icon-fasmileo"></i>
									<button class="b-color-g submit focus">POST A COMMENT</button>
								</span>
							</p>
						</form>
						<ul class="comment-list">
							<li class="">
								<!--用户加天数  加文字内容-->
								<div class="comment-item">
									<div class="item-view">
										<div class="view fl-l">
											<div class="avt fl-l">
												<img src="img/avt-blog1.png"/>
											</div>
											<h3 class="name">Adam Smith</h3>
										</div>
										<div class="date-reply-comment">
											<span class="date-comment">4 days ago</span>
										</div>
									</div>
									<!--文字内容-->
									<div class="comment-body">
										<div class="main-item-text">
											<p>
												Nam sed eleifend dui, eu eleifend leo.
												Mauris ornare eros quis placerat mollis. 
												Duis ornare euismod risus at dictum. 
												Proinat porttitor metus. 
												Nunc luctus nisl suscipit, hendrerit ligula non.
											</p>
										</div>
										<div class="comment-link">
											<span class="ment">
												<i class="iconfont icon-fa-commenting-o"></i>
												Comment
											</span>
											<span class="ment">
												<i class="iconfont icon-fa-thumbs-o-up"></i>
												1
											</span>
											<span class="ment">
												<i class="iconfont icon-fa-thumbs-o-down"></i>
												
											</span>
										</div>
									</div>
								</div>
								
								<!--ul孩子-->
								<ul class="children">
									<li>
										<!--用户加天数  加文字内容-->
										<div class="comment-item">
											<div class="item-view">
												<div class="view fl-l">
													<div class="avt fl-l">
														<img src="img/avt-blog1.png"/>
													</div>
													<h3 class="name">Adam Smith</h3>
												</div>
												<div class="date-reply-comment">
													<span class="date-comment">4 days ago</span>
												</div>
											</div>
											<!--文字内容-->
											<div class="comment-body">
												<div class="main-item-text">
													<p>
														Nam sed eleifend dui, eu eleifend leo.
														Mauris ornare eros quis placerat mollis. 
														Duis ornare euismod risus at dictum. 
														Proinat porttitor metus. 
														Nunc luctus nisl suscipit, hendrerit ligula non.
													</p>
												</div>
												<div class="comment-link">
													<span class="ment">
														<i class="iconfont icon-fa-commenting-o"></i>
														Comment
													</span>
													<span class="ment">
														<i class="iconfont icon-fa-thumbs-o-up"></i>
														9
													</span>
													<span class="ment">
														<i class="iconfont icon-fa-thumbs-o-down"></i>
														1
													</span>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
						</ul>
						
					</div>
					<!--换页按钮部分-->	
					<div class="d-body"style=";width: 100%;">
						
						<!--换页按钮的封装-->
							<div class="d-change-box text-no-blue fl-r">
								<div class="d-change-btn d-change-btn-left ">
									<span class="glyphicon glyphicon-menu-left f-12"></span>
								</div>
								<div class="d-change-btn d-change-paper">
									1
								</div>
								<div class="d-change-btn d-change-paper">
									2
								</div>
								<div class="d-change-btn d-change-paper">
									3
								</div>
								<div class="d-change-btn d-change-btn-right">
									<span class="glyphicon glyphicon-menu-right f-12"></span>
								</div>
							</div>
								<!--换页-->
								
						<!--换页按钮的封装结束-->
					</div>
				</div>
				
			</div>
			<!--/左侧内容-->
			<!--右侧筛选Follow us-->
			<div class="sidebar col-lg-3 col-md-4 col-sm-12 col-xs-12">
				<div class="wrapper-sidebar">
					<div class="widget ">
						<h3 class="widgettitle">Follow us</h3>
						<div class="social-list text-over-hidden-1">
							<a href="#" class="social-item"><i class="iconfont icon-facebook-square"></i></a>
							<a href="#" class="social-item"><i class="iconfont icon-fa-twitter"></i></a>
							<a href="#" class="social-item"><i class="iconfont icon-fa-instagram"></i></a>
						</div>
					</div>
					<div class="widget ">
						<h3 class="widgettitle">Categories</h3>
						<ul class="categories-list">
							<li>
								<input type="checkbox"  class="cl1" />
								<lable for="cl1" class="lab-text">New Arrivals</lable>
							</li>
							<li>
								<input type="checkbox"  class="cl1" />
								<lable for="cl1" class="lab-text">Lighting</lable>
							</li>
							<li>
								<input type="checkbox"  class="cl1" />
								<lable for="cl1" class="lab-text">Tables</lable>
							</li>
							<li>
								<input type="checkbox"  class="cl1" />
								<lable for="cl1" class="lab-text">Chairs</lable>
							</li>
							<li>
								<input type="checkbox"  class="cl1" />
								<lable for="cl1" class="lab-text">Accessories</lable>
							</li>
							<li>
								<input type="checkbox"  class="cl1" />
								<lable for="cl1" class="lab-text">Lamp</lable>
							</li>
						</ul>
					</div>
					<div class="widget ">
						<h3 class="widgettitle">Popular Articles</h3>
						<ul>
							<li class="widget-item">
								<div class="photo fl-l">
									<img src="img/sidebar-post1.jpg"/>
								</div>
								<div class="post-cont ">
									
									<div class="cat">
										<a href="#" class="text-a fontwight-700">LIFE STYLE</a>
									</div>
									<h5 class="widget-title">
										<a href="#">9 Quicks Tips That Will Change  <span style="color: #aaa;">[...]</span></a>
									</h5>
								</div>
							</li>
							<li class="widget-item">
								<div class="photo fl-l">
									<img src="img/sidebar-post2.jpg"/>
								</div>
								<div class="post-cont ">
									
									<div class="cat">
										<a href="#" class="text-a fontwight-700">Lookbook</a>
									</div>
									<h5 class="widget-title">
										<a href="#">9 Quicks Tips That Will Change  <span style="color: #aaa;">[...]</span></a>
									</h5>
								</div>
							</li>
							<li class="widget-item">
								<div class="photo fl-l">
									<img src="img/sidebar-post3.jpg"/>
								</div>
								<div class="post-cont ">
									
									<div class="cat">
										<a href="#" class="text-a fontwight-700">Street Style</a>
									</div>
									<h5 class="widget-title">
										<a href="#">9 Quicks Tips That Will Change  <span style="color: #aaa;">[...]</span></a>
									</h5>
								</div>
							</li>
						</ul>
					</div>
					<div class="widget ">
						<h3 class="widgettitle">Popular Tags</h3>
						<!--tags导航按钮-->
						<div class="tags tags-blog">
							<ul class="tags-lists">
								<li class="tags-link"><a href="#">Fashion</a></li>
								<li class="tags-link"><a href="#">Chairs</a></li>
								<li class="tags-link"><a href="#">Hat</a></li>
								<li class="tags-link active"><a href="#">Accessories</a></li>
								<li class="tags-link"><a href="#">Hot</a></li>
								<li class="tags-link"><a href="#">Lamp</a></li>
								<li class="tags-link"><a href="#">Lighting</a></li>
							</ul>
						</div>
					</div>
					<div class="widget newsletter-widget">
						<div class="newsletter-wrap ">
							<h3 class="title">Subscribe to Our Newsletter</h3>
							<div class="subtitle">
								More special Deals, Events & Promotions
							</div>
							<input type="email" class="email" placeholder="Your email letter"/>
							<button class="b-color-g submit focus" type="submit">Subscribe</button>
						</div>
					</div>
				</div>
			</div>
			<!--/右侧筛选Follow us-->
		</div>
		<!--回到顶部-->	
		<div class="d-return-top-box">
			<span class="glyphicon glyphicon-menu-up f-12"></span>
		</div>
		<!--项目底部-->
		<div class="d-footer">
			<div class="d-content">
				<div class="d-footer-main mar-b-30">
					<div class="d-vereesa-part col-xs-12 col-sm-6 col-md-6 col-lg-4">
						<div class="d-img-logo mar-b-20">
							<img src="img/logo.png"/>
						</div>
						<p class="f-14">
							Shop the latest products right from
							your home .
						</p>
						<p class="f-14">
							We have furniture supplies & accessories from top brands.
						</p>
						<div class="d-black-circle-box">
							<div class="d-black-circle">
								<span class="d-bottom-icon glyphicon glyphicon-usd"></span>
								<div  class="d-hide-circle">
									
								</div>
							</div>
							<div class="d-black-circle">
								<span class="d-bottom-icon glyphicon glyphicon-record "></span>
								<div class="d-hide-circle">
									
								</div>
							</div>
							<div class="d-black-circle">
								<span class="d-bottom-icon glyphicon  glyphicon-link"></span>
								<div class="d-hide-circle">
									
								</div>
							</div>
						</div>
						
					</div>
					<div v-for="item in hreflink" class="d-bottom-links d-bottom-list-part col-xs-12 col-sm-6 col-md-6 col-lg-2">
						<div class="d-bottom-list-title">
							{{item.title}}
						</div>
						<ul class="d-bottom-list-content f-14">
							<li v-for="list in item.list" ><a class="d-menu-href"  href="" target="_blank">{{list}}</a></li>
						</ul>
					</div>
					<div class="d-bottom-list-part col-xs-12 col-sm-6 col-md-6 col-lg-4">
						<div class="d-bottom-list-title">
							Newsletter
						</div>
						<p class="f-14 d-news-text">
							Get notified of new products, limited releases, and more.
						</p>
						<div class="d-news-input-box">
							<input class="d-news-input" type="text" placeholder="your email letter"/>
							<div class="d-news-btn">
								SUBSCRIBE
							</div>
						</div>
					</div>
				</div>
				<div class="d-footer-bottom">
					<span class="d-copy-right f-16">
						Copyright © 2019 Vereesa . All rights reserved
					</span>
					<div class="d-img-box">
						<img  src="img/payments.png"/>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<script src="js/vue.js"></script>
<script src="js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
<script src="js/Blogs-Sidebar.js"></script>
<script src="js/public-page.js"></script>